snowflake-connector-python==3.10.1
snowflake-connector-python[pandas]==3.10.1
pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
pillow>=11.0.0
streamlit>=1.40.0
pydeck>=0.9.1
altair>=5.3.0
pydantic>=2.7.4
